docs/build/
docs/site/
.DS_Store
*.mem
*.bak
*.cnt
*.dict
log
*.xz
*~
*_dbg.jl
*-dbg.jl
*.out
*.mat
*.job
*.h5
*.jld
*.jld2
test1
test2
*.so
*.o
foo*
unused
v0.3
v0.4
*.pbs.*
*.pbs
.cache
setup.sh
.julia
.juliahistory
*.run
*.log
*.prof
*.gz
Manifest.toml
