# Tests with linux/osx, no gpu.

language: julia

os:
  - linux
  - osx

julia:
  - 1.4
  - nightly

matrix:
  allow_failures:
    - julia: nightly

notifications:
  email: false

jobs:
  include:
      - stage: "Documentation"
        julia: 1.4
        os: linux
        script:
          - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.build("Knet"); Pkg.instantiate()'
          - julia --project=docs/ docs/make.jl
        after_success: skip

# after_success:
#   - julia -e 'using Pkg; Pkg.add("Documenter"); using Knet, Documenter; cd(Knet.dir("docs")); include("make.jl")'

# Do coverage in gitlab:
#   - julia -e 'using Pkg; Pkg.add("Coverage"); using Knet, Coverage; cd(Knet.dir()); Codecov.submit(process_folder()); Coveralls.submit(process_folder())'

## uncomment to test with the latest AutoGrad
# before_script:
#  - julia -e 'Pkg.add("AutoGrad"); Pkg.checkout("AutoGrad")'

## uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("Knet"); Pkg.test("Knet"; coverage=true)'

## https://docs.travis-ci.com/user/languages/julia
## If you leave the julia: key out of your .travis.yml, Travis CI will use the most recent release.
