language: julia

## https://docs.travis-ci.com/user/languages/julia
## If you leave the julia: key out of your .travis.yml, Travis CI will use the most recent release.
julia:
#  - 0.4
#  - 0.5
  - 0.6
  - nightly
os:
  - linux
  - osx
matrix:
  allow_failures:
    - julia: nightly  ## getting too many warnings
notifications:
  email: false

## uncomment to test with the latest AutoGrad
# before_script:
#  - julia -e 'Pkg.add("AutoGrad"); Pkg.checkout("AutoGrad")'

## uncomment the following lines to override the default test script
#script:
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("Knet"); Pkg.test("Knet"; coverage=true)'

after_success:
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("Knet")); include(joinpath("docs", "make.jl"))'
